a{
    margin: 20px;
}
p{
    color: black;
    text-rendering: geometricPrecision;
    font-family: cursive ,Verdana, Geneva, Tahoma;
    font-weight:lighter;
}
#body{
    text-size-adjust: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 40px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    
    background-color: rgb(207, 178, 120);
    display: grid;
    background-position: center;
    
}
#mainBody{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#slides{
    display: flex;
    align-items: end;
}
#content{
    display: flex;
    flex-direction: column;
    
    content: normal;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: step-start 1s forwards;
}

#About{
    display:flex;
    flex-direction: column;

}


#heading{
    font-size: x-large; 
    color: black;
    text-rendering: geometricPrecision;
      font-family: cursive ,Verdana, Geneva, Tahoma;
       font-weight: bold;
}

#heading2{
    color: black;
    text-rendering: geometricPrecision;
    font-family: cursive ,Verdana, Geneva, Tahoma;
    font-weight: bold;
}

